body{}
.mainBody{    
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.mainrow{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
}


.card{
  border-style: double;
}
.fontCardImg{
  width: 100%;} 
.cardTitle{}
.skills{ 
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  list-style: none;
  background-color: #d3d3d31f;
}
.html{
  color: orange;
}
.css{
  color: blue;
}
.js{
  color: yellow;
}
.api{
  color: greenyellow;
}
.cardText{}
.buttons{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.card3{
  border-style: double;
}
.fontCardImg3{
  width: 100%;
} 
.cardTitle3{}
.cardText3{}
.link3{}