
.mainBody{    
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.mainrow{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
}


.card{
  border-style: double;
}
.fontCardImg{
  width: 100%;} 

.skills{ 
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  list-style: none;
  background-color: #d3d3d31f;
}
.html{
  color: orange;
}
.css{
  color: blue;
}
.js{
  color: yellow;
}
.api{
  color: greenyellow;
}
.buttons{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.learnMore
{ 
  display: flex;
  flex-direction: row;
}
.buttonLM{
  margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 20px;
    padding: 2px;
}
.bottomB{
  padding: 2px;
}